<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WinScript{% endblock %}</title>
        {% block stylesheets %}
         <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/login.css') }}" rel="stylesheet">
        {% endblock %}
{% block body %}
<body>
	<div class="container">
		<div class="center">
			<img src="../../img/logo.png" alt="Logo" style="width:300px">
		</div>
	</div>
	<div class="container-form">
		<form action="{{ path('login_check') }}" method="post">
			<div class=form-group">
				<input placeholder="Nom d'utilisateur" required name="_username" type="text" class="form-control">
			</div>
			<div class=form-group">
				<input type="password" placeholder="Mot de passe" required name="_password" type="text" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Connexion</button>
				<a href="{{ path('registration') }}"class="btn btn-primary">Inscription</a>
			</div>
		</form>
	</div>
</body>
{% endblock %}
<footer class="footer mt-5 ">
    <div class="container">
        <span class="text-muted"><center>WinScript 2018.</center></span>
    </div>
</footer>
</html>