{% extends 'base.html.twig' %}

{% block body %}
    <form name="type" action="{{path('script')}}" method="post">
         <input type="radio" name="type" value="Web">Export Web<br>
         <input type="radio" name="type" value="xml">Export XML<br>
        <button type="submit"class="btn btn-success mt-2">Valider</button>
    </form>
{% endblock %}
