{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire de génération de script</h1>

    <form action="{{path('traitement_script')}}" method="post">
        <label for="champ1">Champ 1</label>
        <select name="champs[0]" id="champ1">
            <option value="">Sélectionnez un champ</option>
            {{options|raw}}
        </select>
        <label for="champ2">Champ 2</label>
        <select name="champs[1]" id="champ2">
            <option value="">Sélectionnez un champ</option>
            {{options|raw}}
        </select>
        <label for="champ3">Champ 3</label>
        <select name="champs[2]" id="champ3">
            <option value="">Sélectionnez un champ</option>
            {{options|raw}}
        </select>
        <button type="submit">Go !</button>
    </form>
{% endblock %}
